
.game-block {
    width: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.row {
    display: flex;
}
.table {
    padding: 10px;
}
.cell button {
    background: #fff;
    border: 1px solid #eee;
    font-size: 1.5rem;
}

.cell-btn {
    perspective: 1000px;
}
.btn-container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &-shirt {
        background: linear-gradient(90deg, rgba(24,204,109,1) 0%, rgba(230,176,14,1) 55%);
    }

    &-face {
        transform: rotateY(180deg);
        background: linear-gradient(90deg, rgba(24,204,109,1) 0%, rgba(14,192,230,1) 55%);
    }
    img {
        max-width: 75%;
        max-height: 100%;
    }
}
.flip-card  {
    transform: rotateY(180deg);
}

.hidden {
    display: none;
}

.finish {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.retired {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        background: rgba(55,55,55,.4);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
